.navigation
  text-decoration: none
  color: fontColor

  .list
    margin: 0
    padding: 0
    list-style: none
    display: flex
    align-items: center
    justify-content: center

    .list-item
      padding: rem(12)

      a
        color: fontColor
        font-family: fontFamily
        text-decoration: none
