@font-face
  font-family: 'Lato'
  src: url('../fonts/Lato-Regular.ttf')

@font-face
  font-family: 'Lato-thin'
  src: url('../fonts/Lato-Hairline.ttf')

@font-face
  font-family: 'Lato-light'
  src: url('../fonts/Lato-Light.ttf')

@font-face
  font-family: 'Lato-bold'
  src: url('../fonts/Lato-Bold.ttf')
