/* Globals */
baseColor = greyBlue
baseToneColor = greyBlueLight
accentColor = white
fontColor = darkGrey
fontSecondaryColor = lightGrey
actionColor = lightBlue
borderColor = lightBlue
errorColor = lightRed

/* Size */
remBase = 12px
h1Size = 1rem

/* Color */
white = #ffffff
green = #b3ddb3
lightGreen = #d1ffd7
lightRed = #ff8e8e
dargGreen = #a6d3a0
grey = #808782
purple = #9B59B6
jordyBlue = #89C4F4
lightBlue = #15A1DF
steelBlue = #4B77BE
lightGrey = #CFD5DC
mideGrey = #8F9CAE
darkGrey = #46505F
greyBlueLight = #AEC2D4
greyBlue = #849CB2

/* Font */
fontFamily = 'Lato'
fontFamilyLight = 'Lato-light'
fontFamilyThin = 'Lato-thin'
fontFamilyBold = 'Lato-bold'

/* Screen */
screen-xs = 480px;
screen-xs-min = screen-xs;
mobile = screen-xs-min;

screen-sm = 768px;
screen-sm-min = screen-sm;
tablet = screen-sm-min;

screen-md = 992px;
screen-md-min = screen-md;
desktop = screen-md-min;

screen-lg = 1200px;
screen-lg-min = screen-lg;
screen-lg-desktop = screen-lg-min;

screen-xs-max = (screen-sm-min - 1);
screen-sm-max = (screen-md-min - 1);
screen-md-max = (screen-lg-min - 1);
