{
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true
  },
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react",
    "google"
  ],
  "plugins" : [
    "flow-vars"
  ],
  "globals" : {
    "Action"       : false,
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__DEBUG_NEW_WINDOW__" : false,
    "__BASENAME__" : false
  },
  "rules": {
    "semi" : [2, "always"],
    "max-len": [2, 120, 2],
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1,
    "space-before-function-paren": 0,
    "quotes": ["error", "single", {"allowTemplateLiterals": true}]
    "object-curly-spacing": ["error", "always", {
      "objectsInObjects": false,
      "arraysInObjects": false
    }],
    "no-console": 0
  }
}
