@import 'variables'
@import '../components/title/main'

body
  background-color: baseColor
  font-size: h1Size
  font-family: sans-serif
  margin: 0
  padding: 0

.app
  display: flex
  flex-direction: column
  text-align: center

  .view
    display: flex
