baseColor = darkGrey
accentColor = white
fontColor = jordyBlue

h1Size = 1rem

white = #ffffff
green = #b3ddb3
lightGreen = #d1ffd7
dargGreen = #a6d3a0
grey = #808782
darkGrey = #264348
purple = #9B59B6
jordyBlue = #89C4F4
steelBlue = #4B77BE
